<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--Both client and server apps should connect to the same database-->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=WorkflowExample" />
  </connectionStrings>
</configuration>
